@model IEnumerable<ASPConcesionario.ModeloBD.tb_proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.razon_social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id}, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },  new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
