@model ASPConcesionario.ModeloBD.tb_vehiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie_chasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie_chasis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie_motor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie_motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_marca.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_marca.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_proveedor.razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_proveedor.razon_social)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
