@model ASPConcesionario.Models.Parametros.ModeloMarca

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Marca</h2>
<div>

    <hr />
    @if (ViewBag.mensaje != null)
    {
        <strong style="color:red">@ViewBag.mensaje</strong>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
